.hiddenLabel{
    color: tomato;
    text-align: center;
    padding: 7px;
    font-size: 13px;
}
.hiddenLabelForMessage{
    color: tomato;
    text-align: center;
    padding: 7px;
    font-size: 13px;
}

.greetContactFormWrapper{
    text-align: center;
    margin:2rem 0px 2rem 0px;
    background: linear-gradient(to right, rgb(44, 62, 80), rgb(253, 116, 108));
    -webkit-text-fill-color: transparent; 
    background-clip: border-box;
    -webkit-background-clip: text;   
}
.parent{
    overflow: hidden;
    scroll-margin: 7rem;
}
.parentOfFormFlexed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding-bottom: 2rem;
}
.formContainerWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    width: 500px;
    min-height: 370px;
    height: auto;
   border-top: 3px solid tomato;
   border-left: 3px solid tomato;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   padding-bottom: 1rem;
}
.FormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
   height: 90%;
   width: 90%;
   padding-bottom: 1rem;
   background-color: #fff;
   box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
.nameInputWrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}
.EmailWrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.messageWrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.nameInputWrapper>.labelFor{
    font-size: 17px;
    font-weight: 400;
    padding: 5px;
    font-family: Georgia;
}
.EmailWrapper>.labelFor{
    font-size: 17px;
    font-weight: 400;
    padding: 5px;
    font-family: Georgia;
}
.messageWrapper>.labelFor{
    font-size: 17px;
    font-weight: 400;
    padding: 5px;
    font-family: Georgia;
}
.inputForName{
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 3px solid tomato;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
   outline: none;
    height: 30px;
    width: 300px;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.3);
    padding-left: 1rem;
}
.inputForEmail{
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 3px solid tomato;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
   outline: none;
    height: 30px;
    width: 300px;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.3);
    padding-left: 1rem;
}
.textareaForMessage{
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 3px solid tomato;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
     outline: none;
     resize: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    padding: 5px;
    max-height: 150px;
}
::placeholder{
    text-align: center;
}
.SendmessagebuttonWrapper>.sendmessageButton{
    width: 150px;
    height: 30px;
    outline: none;
    border: none;
    background-color:#fff;
    cursor: pointer;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.3);
    border-radius: 20px;
}
.sendmessageButton{
    position: relative;
    color: tomato;
    font-weight: 600;
}
.sendmessageButton>.contactFormSendIcon{
    font-size: 20px;
    position: absolute;
    top: 5px;
}

@media screen and (max-width:518px){
    .formContainerWrapper{
        width: 400px;
    }
}
@media screen and (max-width:418px){
    .formContainerWrapper{
        width: 340px;
    }
    .inputForName,.inputForName,.inputForEmail,.textareaForMessage{
        width: 280px;
    }
}
